@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
  font-family: 'Sono', sans-serif;
  text-align: center;
}

#shop-name {
  font-family: 'Limelight', sans-serif;
  margin-top: 1.5em;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: 16pt;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* All products page */
.all-products-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1em;
}

.all-products-img {
  width: 500px;
  border-radius: 20px;
}

.each-product-layout {
  margin: 1.5em;
  font-size: 14pt;
}

.product-detail {
  padding: 1em;
}

/* Single product page */
.single-product-layout {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: left;
  margin: 6em;
}

.single-product-img {
  width: 800px;
  border-radius: 20px;
}

.product-info {
  padding-left: 6em;
  width: 50%;
}

.purchase-container {
   display: flex;
   align-items: center;
}

.purchase-option {
  margin-top: 1em;
  font-size: 16pt;
  height: 50px;
  width: 180px;
}

#add-to-cart-button {
  border-radius: 30px;
  border-color: white;
  color: white;
  background-color: green;
  margin-left: 1.5em;
}
