@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@800&display=swap');

body {
  font-family: 'Special Elite', 'Oswald', 'Sono', sans-serif;
  text-align: center;
  background-color: #f4ede4ea;
}

#shop-name {
  font-family: 'Rye', 'Limelight', sans-serif;
  margin-top: 1.5em;
  font-size: 30pt;
  color: #957449;
}

a {
  text-decoration: none;
}

a.link {
  color: inherit;
}

label {
  display: block;
}

nav div {
  font-family: 'Sono', sans-serif;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: 16pt;
  color: black;
}

.form-styling {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b68d40;
}

.form-styling button {
  margin-top: 15px;
  background-color: white;
  box-shadow: #b68d40 2px 2px 0 0;
  color: #b68d40;
  font-family: 'Special Elite', 'Oswald', 'Sono', sans-serif;
}

.form-styling button:hover {
  color: white;
}

.form-styling a {
  margin-top: 25px;
  font-size: 16px;
}

.form-styling a:link {
  color: #b68d40;
}

/* visited link */
.form-styling a:visited {
  color: #b68d40;
}

/* mouse over link */
.form-styling a:hover {
  color: rgb(138, 95, 54);
}

/* selected link */
.form-styling a:active {
  color: rgb(194, 137, 84);
}

.form-styling label {
  margin-top: 10px;
}

.form-styling input {
  border-width: 1px;
  width: 220px;
  height: 17px;
  border-color: #b68d40;
  border-radius: 4px;
  color: rgb(138, 95, 54);
}

.form-styling input:focus {
  outline: none;
  border: 2px solid rgb(138, 95, 54);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin: 1em;
  margin-top: 50px;
  background-color: rgba(242, 232, 214, 0.854);
  border-radius: 8px;
  width: 400px;
  height: 500px;
}

#checkout form {
  height: 550px;
}

/* additional form styling for Auth component */
#auth form {
  height: 320px;
}

#auth label {
  font-size: 21px;
}

#auth-error {
  margin-top: 22px;
}

#confirmation {
  color: #b68d40;
  margin-top: 60px;
  margin-bottom: 40px;
}

input {
  padding: 0.3em;
  margin: 0.5em 0;
  width: 100%;
}

button {
  font-family: 'Special Elite', 'Oswald', 'Sono', sans-serif;
  padding: 1rem 1.5rem;
  font-size: 16px;
  border: none;
  outline: none;
  transition: all 1s ease;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(194, 137, 84);
}

button:hover {
  background-color: #e9cf9e;
}

/* All products page */
.all-products-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.all-products-img {
  object-fit: cover;
  height: 225px;
  width: 300px;
  border-radius: 30px;
  margin: 1em auto;
}

.each-product-layout {
  margin: 1.5rem 2rem;
  font-size: 11pt;
  width: 350px;
  border-radius: 30px;
  box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.25);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: white;
}

.each-product-layout:hover {
  transform: scale(1.075);
  box-shadow: 0 0.25em 2.5em rgba(0, 0, 0, 0.25);
}

.each-product-detail {
  color: black;
  width: 300px;
  margin: auto;
  text-align: center;
}

.product-amount-input {
  width: 20px;
}

/* Single product page */
.single-product-layout {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: left;
  flex-wrap: wrap;
  margin: 6em;
}

.single-product-img {
  object-fit: cover;
  height: 375px;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.25);
  transition: transform 0.2s, box-shadow 0.2s;
}

.single-product-img:hover {
  transform: scale(1.1);
}

.single-product-info {
  width: 40%;
}

.single-product-description {
  margin: 3em auto;
}

.single-product-description p {
  word-spacing: 4px;
  line-height: 1.6;
}

.purchase-section {
  display: flex;
  flex-direction: column;
}

.add-to-cart-container .tooltip {
  background-color: rgb(45, 45, 45);
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: 'Sono', sans-serif;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  animation: fadeIn 0.5s;
  margin: 0 auto;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.purchase-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.purchase-option {
  font-size: 20px;
  text-align: center;
  width: 180px;
  height: 50px;
  margin: 1rem 0;
}

#add-to-cart-button {
  font-family: 'Special Elite', Courier, monospace;
  font-size: 12pt;
  border-radius: 30px;
  background-color: rgb(194, 137, 84);
  box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

#add-to-cart-button:hover {
  background-color: rgb(166, 126, 88);
  color: white;
}

#add-to-cart-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 8px);
}

/* Cart page */
.cart-products-layout {
  width: 80%;
  margin: auto;
}

.cart-each-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  border-bottom: 0.075em solid #c4ae78;
}

.cart-product-detail {
  width: 35%;
}

.link-to-product {
  text-decoration: none;
  color: inherit;
}

.remove-button {
  font-family: 'Special Elite', Courier, monospace;
  font-size: 12pt;
  border-radius: 30px;
  background-color: rgb(194, 137, 84);
  box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

.remove-button:hover {
  background-color: rgb(166, 126, 88);
  color: white;
}

.remove-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 8px);
}

.cart-quantity-option input {
  font-size: inherit;
  text-align: center;
  margin: 1rem 0;
  width: 90%;
}

.checkout-button {
  margin: 3em auto 5em auto;
}

/* User home page */
.user-home-greeting, .admin-home-greeting {
  font-family: 'Life Savers', sans-serif;
  color: #104210;
}

.user-welcome-img {
  width: 400px;
  box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

/* Admin manage page */
.admin-manage-page {
  width: 80%;
  margin: auto;
}

.admin-welcome-img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

.admin-manage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.admin-manage > button {
  margin: 1rem;
}

/* Admin all users page */
.all-users-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1em;
  text-align: left;
}

.each-user-layout {
  margin: 1em;
  border: solid rgb(173, 167, 167);
  border-radius: 20px;
  flex-grow: 1;
  padding: 1em;
  width: 250px;
  height: 150px;
}

.user-detail {
  font-size: small;
}

.user-name {
  font-size: large;
  text-align: center;
}

/* Admin all products page */
.admin-all-products-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1em;
}

.admin-product-img {
  flex-grow: 1;
  border-radius: 20px;
  margin-top: 1em;
  object-fit: cover;
  height: 225px;
  width: 300px;
}

.admin-each-product-layout {
  margin: 1rem;
  border-radius: 20px;
  flex-grow: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

.admin-product-detail {
  padding: 0.25em;
}

.product-edit-delete {
  display: flex;
  justify-content: space-between;
}

.admin-edit-delte-button {
  color: white;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  touch-action: manipulation;
  margin: 0 0.5rem;
}

.admin-product-delete-button {
  background-color: #f40800;
  border: 1px solid #f40800;
}

.admin-product-edit-button {
  background-color: #1899D6;
  border: 1px solid #1899D6;
}

.admin-edit-delte-button:hover, .admin-edit-delte-button:active {
  background-color: initial;
  background-position: 0 0;
}

.admin-product-delete-button:hover, .admin-product-delete-button:active {
  color: #f40800;
}

.admin-product-edit-button:hover, .admin-product-edit-button:active {
  color: #1899D6;
}

.admin-edit-delte-button:active {
  opacity: 0.5;
}

/* footer */

#footer {
  margin: 3rem auto;
}

.footer {
  margin: 3rem auto;
  font-family: 'Sono', sans-serif;
}

.contributors a {
  color: black;
  text-decoration: none;
}

.contributors a:hover {
  text-decoration: underline;
  color: #957449;
}

@media (max-width: 1024px) {
  #shop-name {
    margin-top: 3rem;
    font-size: 30px;
  }
  
  nav a {
    gap: 0.7rem;
    font-size: 18px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  .single-product-layout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
  }
  
  .single-product-img {
    object-fit: cover;
    height: 240px;
    width: 320px;
    margin: 2rem auto;
  }
  
  .single-product-info {
    width: 95%;
    text-align: left;
  }
  
  .purchase-section {
    align-items: center;
  }

  .purchase-container {
    flex-direction: column;
    gap: 0;
  }

  .cart-products-layout {
    width: 100%;
  }

  .cart-each-product {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem auto;
  }

  .cart-img-container img.all-products-img {
    margin: 0.5rem auto;
    width: 300px;
  }
  
  .cart-product-detail {
    width: 90%;
    text-align: center;
  }

  .cart-quantity-option input {
    margin: auto auto 1rem;
  }
}
